In [1]:
import pandas as pd
import pickle
import numpy as np

In [2]:
df = pd.read_csv('processed-data-2010-jan.csv')
df.head()

   station_id  year  month  day  latitude  longitude   time  precipitation
0       10008  2010      1    1  -85.2482    31.5702  25568              0
1       10008  2010      1    2  -85.2482    31.5702  25569              0
2       10008  2010      1    3  -85.2482    31.5702  25570              0
3       10008  2010      1    4  -85.2482    31.5702  25571              0
4       10008  2010      1    5  -85.2482    31.5702  25572              0

In [3]:
cols = ['latitude', 'longitude', 'time']
df_data = df[cols].values
print(df_data.shape, type(df_data))

(53743, 3) <class 'numpy.ndarray'>

In [4]:
# subsample ss data points
ss = 1000
sel_idx = np.random.choice(df_data.shape[0], size=ss, replace=False)
X = df_data[sel_idx]
print(X.shape)

(1000, 3)

In [5]:
# construct covariance matrix based on RBF kernel
from sklearn.gaussian_process.kernels import RBF
kernel = RBF(1.0)
K = kernel(X, X)
print(K.shape, type(K))

(1000, 1000) <class 'numpy.ndarray'>

In [6]:
import pickle
with open('precipitation_small.pkl', 'wb') as f:
    pickle.dump(K, f)